
.column {
  float: left;
  width: 22%;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
ody{
  margin:0;
  padding: 0;
  background: #ccc;

}
.nav ul {
  list-style: none;
  background: maroon;
  text-align:center;
  padding: 0;
  margin: 0;

}
.nav li {
  display:inline-block;
}
.nav a{
  text-decoration: none;
  color: #fff;
  width: 50px;
  display:block;
  padding: 8px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;;
}

       
         body {
                    padding: 25px;
                    background-color: white;
                    color: black;
                    font-size: 25px;
                  }
                  
                  .dark-mode {
                    background-color: black;
                    color: white;
                  }
                  
       