<!DOCTYPE html>
<html>

<head>
  <title>Information of the Movies</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>


<div class="nav">

  <ul>
    <tr>
      <td align="left">
        <h3>
          <font color="white">Movie Night Fanatics</h1>
          </font>
        </h3>
      </td>
    </tr>

    <li><a href="{{url_for('index')}}">Home</a></li>
    <!--  <li><a href="{{url_for('movies')}}">Movies</a></li>
    <li><a href="{{url_for('movie_info')}}">Movie Information</a></li> -->
    <li><a href="{{url_for('movie_genre')}}">Movie Genre</a></li>
    <!--<li><a href="{{url_for('movie_genre_info')}}">Movie Genre info</a></li> -->
    <!--<li><a href="{{url_for('movie_info')}}">Movie info</a></li>-->
    <!--<li><a href="{{url_for('movies')}}">Movie </a></li> -->

  </ul>
</div>

<span style="padding-left:400px"></span></span>

<hr align="center" width="60%">
<center>
  <div class="container">
    <div class="row">
      <div class="col">
        {{Name}}
      </div>
      <div class="col">
        Year : {{Year}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        Genre : {{Genres}}
      </div>
      <div class="col">
        Director : {{Director}}
      </div>
      <div class="col">
        Rating : {{Rating}}
      </div>
      <div class="col">
        Votes : {{Votes}}
      </div>
    </div>
  </div>
</center>