<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
<center>
<h3>Predicted Movies:</h3> 
<li>{{ firstMovie }} {{movies[firstMovie]}}%</li>
<li>{{ secondMovie }} {{movies[secondMovie]}}%</li>
<li>{{ thirdMovie }} {{movies[thirdMovie]}}%</li>
<li>{{ fourthMovie }} {{movies[fourthMovie]}}%</li>
<li>{{ fifthMovie }} {{movies[fifthMovie]}}%</li>
</center>

<center>
    <h3>Get director information from these movies (copy & paste a movie name into here)</h3>
    <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
</center>
<script>
    //alert('{{ firstMovie }}');
    
	//alert('Hello, ' + name);
    

</script>
</body>

</html>
